@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,900,900i|Roboto+Slab:400,700');

$font-family-serif: 'Roboto Slab', serif;
$font-family-sans-serif: 'Roboto', sans-serif;

$primary: #112b4f;
$secondary: #970000;
